@font-face {
	font-family: 'Pe-icon-7-stroke';
	src        : url('fonts/Pe-icon-7-stroke.eot?d7yf1v');
	src        : url('fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
		url('fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
		url('fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
		url('fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style : normal;
}
*   {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
    }
body {
    width : 1600px;
    height: 1365px;
    /*margin  : auto;*/
    height  : auto;
    overflow: auto;
    }
.masthead {
    max-width     : 1600px;
    margin        : auto;
    padding       : 33px 0px 23px 0px;
    text-transform: uppercase;
    height        : auto;
    overflow      : auto;
    }
.brand {
    float         : left;
    vertical-align: middle;
    width         : 35%;
    font          : 30px "Roboto", sans-serif;
    color         : #666666;
    font-weight   : 800;
    text-align    : center;
    }
.brand::first-letter {
    color      : #1abc9c;
    font-weight: bold;
    }
.site-navigation {
    margin-right  : 235px;
    float         : right;
    max-width     : 600px;
    font-family   : 'Open Sans', sans-serif, Arial, Helvetica;
    font-size     : 14px;
    font-weight   : bold;
    list-style    : none;
    padding-left  : 0px;
    color         : #000000;
    vertical-align: middle;
    }
.site-navigation li {
    float: right;
    }
.site-navigation a {
    display        : block;
    margin-left    : 15px;
    padding        : 6px 9px;
    text-decoration: none;
    text-transform : uppercase;
    color          : #000000;
    }
.site-navigation a:hover {
        color: #1abc9c;
    }
.clearfix::after {
    content: "";
    display: table;
    clear  : both;
    }
.main {
    margin: auto;
    height: 100vh;
    }
.gallery {
    display  : block;
    width: 1600px;
    height: 1275px;
    margin   : auto;
    height   : auto;
    }
.headline {
    width          : 1600px;
    height         : 600px;
    display        : block;
    justify-content: space-between;
    flex-direction : row;
    color          : rgb(255,255,255);
    vertical-align : center;
    background     : url(../img/backgrouhd.gif)
    }
.flex-container {
    margin         : auto auto;
    display        : flex;
    justify-content: space-between;
    }
.row { 
    flex-direction: row;
    }
.column {
    flex-direction: column;
  }
.top_container {
    height: 600px;
    width : 1110px;
}
.bottom_container {
    left: 15px;
    height: auto;
    width : 1144px;
}
.sign {
    display    : inline-block;
    margin-top : 230px;
    color      : #ffffff;
    width      : 104px;
    height     : 104px;
    text-align : center;
    font-family: 'Pe-icon-7-stroke';
    font-size  : 100px;
    background : #19bb9b;
    }
.sign::before {
    vertical-align: middle;
}
.main_heading {
    margin-top    : 200px;
    padding       : 0px 75px;
    width         : 900px;
    height        : 125px;
    vertical-align: center;
    }
span[rel="big"]{
    letter-spacing: -1px;
    font-weight   : 700;
    font-family   : 'Roboto', sans-serif;
    font-size     : 60px;
    color         : #ffffff;
    }
span[rel="small"]{
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-size  : 23px;
    color      : #ffffff;
    }
.main_heading > span {
    display   : block;
    width     : auto;
    height    : auto;
    padding   : 5px 5px 10px;
    }
.down_headline {
    text-align    : center;
    margin        : 90px 0px 92px 0px;
    font-size     : 48px;
    font-weight   : 800;
    font-family   : 'Roboto', sans-serif;
    letter-spacing: -1px;
    color         : rgb(81,81,81);
    position      : relative;
}
.down_headline::after {
    content   : '';
    position  : absolute;
    top       : 135%;
    height    : 8px;
    background: #4ec6ab;
    left      : 44.9%;
    right     : 44.9%;
}
.item {
    position: relative;
    cursor: pointer;
    width      : 255px;
    height     : 322px;
    font-family: 'Roboto', sans-serif;
    margin     : 15px;
    text-align : center;
    background-color: #e7eefb;
    }
.item_container {
    height: 322px;
    width : 255px;
    }
.item img {
    height          : 322px;
    width           : 255px;
    /*background-color: #e7eefb;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    }
.name_goods {
    box-sizing      : border-box;
    background-color: #323232;
    float           : left;
    vertical-align  : middle;
    text-align      : left;
    text-transform  : uppercase;
    width           : 80%;
    padding         : 9px 14px;
    color           : #ffffff;
    }
.price {
    box-sizing      : border-box;
    background-color: #8c8c8c;
    float           : right;
    vertical-align  : middle;
    width           : 20%;
    padding         : 9px 11px;
    text-align      : center;
    color           : #ffffff;
    }
.price_and_name {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size  : 18px;
    letter-spacing: -0.01em;
    color      : #ffffff;
    padding    : 0px;
    }
.rev_-40 {
    /*bottom: 39px;*/
    position: relative;
    z-index: 2;
    }
.item:hover .name_goods {
    background-color: #1abc9c;
    }
.item:hover .price {
    background-color: #7fd9c7;
    }
.icons-wrapper {
    position: relative;
    display: flex;
    top: 12px;
    left: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 233px;
    height: 262px;
    opacity: 0;
    background: rgba(0,0,0,0.3);
    transition: opacity 0.2s ease-in;
    }
.item:hover .icons-wrapper {
    opacity: 1;
    z-index: 1;
    }
    
.icons-wrapper__row {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 10px 0;
    }
    
.icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #fff;
    fill: #fff;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease-in;
    }
    
.icon svg {
    fill: #fff;
    }
    
.icon:hover {
    background-color: #33cc99;
    border: 1px solid #33cc99;
    }
    
.icons-wrapper__row--wide {
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #fff;
    background-color: #323232;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
    }
    
.icons-wrapper__row--wide:hover {
    background-color: #33cc99;
    }
    
.icons-wrapper__row--wide .icon {
    border: 0;
    background: none;
    transition: background-color 0.2s ease-in;
    }
    
.icons-wrapper__row--wide .caption {
    text-transform: uppercase;
    margin-left: 10px;
    color: #fff;
    }
footer {
    margin-top: 85px;
    color: #ffffff;
    background-color: #333333;
}
.footer_main {
    width      : 350px;
    height     : 90px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    }
.footer_main h6 {
    display: inline-block;
    vertical-align: middle;  
}
h5 {
    font-size  : 18px;
    font-weight: normal;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-size  : 16px;
    letter-spacing: -0.02em;
    font-weight: normal;
}
.footer_main::after {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}
.colortext {
    color: #33cc99;
}