 * {
box-sizing: border-box;
padding   : 0;
margin    : 0;
}
body {
    width   : 1170px;
    margin  : auto;
    height  : auto;
    overflow: auto;
    padding : 15px;
}
.masthead {
max-width     : 1170px;
margin        : auto;
padding       : 37px 0px;
text-transform: uppercase;
height        : auto;
overflow      : auto;
}
.brand {
float         : left;
vertical-align: middle;
width         : 10%;
font          : 30px "Roboto", sans-serif;
color         : #666666;
font-weight   : 100;
text-align    : center;
}
.brand::first-letter {
color      : #1abc9c;
font-weight: bold;
}
.site-navigation {
    margin-left : 1%;
    float       : right;
    width       : 69%;
    font-family : 'Open Sans', sans-serif, Arial, Helvetica;
    font-size   : 14px;
    font-weight : bold;
    list-style  : none;
    padding-left: 0px;
    color       : #000000;
}
.site-navigation li {
    float: right;
}
.site-navigation a {
    display        : block;
    padding        : 0 10px;
    font-size      : 20px;
    text-decoration: none;
    text-transform : uppercase;
    color          : #000000;
}
.site-navigation a:hover {
    color: #1abc9c;
}
.clearfix::after {
content: "";
display: table;
clear  : both;
}
.main {
max-width: 980px;
margin   : auto;
height   : 100px;
}
.headline {
text-align: center;
margin    : 75px 0px 120px 0px;
font      : 48px "Roboto", sans-serif;
color     : #666666;
/*display: inline-block;*/
position: relative;
}
.headline:after {
    content   : '';
    position  : absolute;
    top       : 153%;
    height    : 8px;
    background: #4ec6ab;
    left      : 42.8%;
    right     : 42.8%;
}
.item {
float      : left;
width      : 255px;
height     : 330px;
font-family: 'Roboto', sans-serif;
font-size  : 18px;
margin     : 15px;
text-align : center;
}
.news img {
    height        : 236px;
    width         : 350px;
    padding-bottom: 0px;
    overflow      : auto;
}
.item img {
    height          : 280px;
    width           : 255px;
    padding-bottom  : 0px;
    overflow        : auto;
    background-color: #e7eefb;
    overflow        : hidden;
}
.gallery {
    height     : auto;
    overflow   : auto;
    margin-left: auto;
    margin     : auto;
}
.blog {
    margin-top: 10px;
    height    : auto;
    overflow  : auto;
}
.gallery .blog {
    height  : auto;
    overflow: auto;
}
.news {
float      : left;
width      : 350px;
height     : 500px;
font-family: 'Open Sans', sans-serif;
margin     : 15px;
text-align : center;
}
.description {
    font-size    : 14px;
    margin-bottom: 9px;
}
.name_goods {
    box-sizing      : border-box;
    background-color: #323232;
    float           : left;
    vertical-align  : middle;
    text-align      : left;
    text-transform  : uppercase;
    width           : 80%;
    padding         : 12px;
    color           : #ffffff;
}
.price {
    box-sizing      : border-box;
    background-color: #8c8c8c;
    float           : right;
    vertical-align  : middle;
    width           : 20%;
    padding         : 12px;
    text-align      : center;
    color           : #ffffff;
}
.price_and_name {
    font-family: 'Roboto', sans-serif;
    font-size  : 18px;
    color      : #ffffff;
    margin     : auto;
    padding    : 0px;
    height     : auto;
    overflow   : auto
}
.item:hover .name_goods {
background-color: #1abc9c;
}
.item:hover .price {
background-color: #7fd9c7;
}
.subtitle_blog {
    box-sizing    : border-box;
    vertical-align: middle;
    text-align    : left;
    width         : 328px;
    margin-top    : 8px;
    font-family   : 'Open Sans', sans-serif;
    font-weight   : bold;
    font-size     : 18px;
    color         : #666666;
}
.description:before {
    content   : '';
    position  : absolute;
    top       : -33px;
    left      : 0;
    width     : 136px;
    height    : 2px;
    background: #4ec6ab;
}
.description {
    margin-top    : 45px;
    box-sizing    : border-box;
    vertical-align: middle;
    text-align    : left;
    font-family   : 'Open Sans', sans-serif;
    font-size     : 14px;
    color         : #666666;
    position      : relative;
}
a {
    float: left;
}
a.button1 {
    display        : inline-block;
    vertical-align : middle;
    width          : 160px;
    height         : 51px;
    font-size      : 16px;
    font-family    : 'Open Sans', sans-serif;
    color          : #fff;
    text-decoration: none;
    text-align     : center;
    border-radius  : 3px;
    background     : #4ec6ab;
  }
  a:before {
    content       : '';
    display       : inline-block;
    height        : 100%;
    vertical-align: middle;
  }